@charset "utf-8";
 img{border: none;}

 html { 
background: url("../img/light-blue-background.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#header {
background-color: transparent;
width:1124px;
height: 310px;
margin:auto;
position:relative; 
padding-top: 5px;
text-align: center;
font-size: 28px;
}

#wrapper {
height:auto;
width:1124px; 
margin:auto;
position:relative;
}

#mainframe {
margin-left:20px;
background-color: transparent/*#F3F7F8*/;
position:relative;
float: left;
width: 894px;
height: auto;
min-height:1074px;
min-width: 300px;
border-radius:5px;
/*box-shadow:inset 0 0 0 1px #163BFD, inset 0 0 10px rgba(78, 92, 190, 0.25), inset 0 0 6px rgba(53, 32, 209, 1), 0 0 15px rgba(9, 9, 12, 0.35);*/
}

.product-frame {
float:left;
position:relative;
width:874px;
height:220px;
border-radius:5px;
/*box-shadow:inset 0 0 0 1px #163BFD, inset 0 0 10px rgba(78, 92, 190, 0.25), inset 0 0 6px rgba(53, 32, 209, 1), 0 0 15px rgba(9, 9, 12, 0.35);*/
margin-bottom:40px;
margin-right:20px;
}


.product-picture-main {
box-shadow:inset 0 0 0 1px #163BFD, inset 0 0 10px rgba(78, 92, 190, 0.25), inset 0 0 6px rgba(53, 32, 209, 1), 0 0 15px rgba(9, 9, 12, 0.35);
border-radius:5px;
width:220px;
height:220px;
position:relative;
float:left;
margin-right:5px;
padding:1px;
}

.product-picture-small {
box-shadow:inset 0 0 0 1px #163BFD, inset 0 0 10px rgba(78, 92, 190, 0.25), inset 0 0 6px rgba(53, 32, 209, 1), 0 0 15px rgba(9, 9, 12, 0.35);
border-radius:5px;
width:50px;
height:50px;
position:relative;
float:left;
margin-right:40px;
margin-bottom:5px;
padding:1px;
}




#product-prise-signature{
font-size:17px;
color:white;
padding:5px;
padding-left:20px;
padding-right:15px;
border-top-left-radius:5px;
border-top-right-radius:40px;
border-bottom-left-radius:5px;
border-bottom-right-radius:40px;
-webkit-box-shadow: 1px 2px 8px 0px rgba(239, 0, 18, 0.87);
-moz-box-shadow:    1px 2px 8px 0px rgba(239, 0, 18, 0.87);
box-shadow:         1px 2px 8px 0px rgba(239, 0, 18, 0.87);
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */


}

.product-prise-position {
width: auto;
height:auto;
position:absolute;
top:185px;
bottom:0px;
left:-5px;
}








